.footer {
  background: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  .privacy-wrap {
    .privacy-term {
      margin-bottom: 12px;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    small {
      font-size: 15px;
    }
  }

  .social-wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    .social-icons {
      margin-bottom: 12px;
      a {
        width: 35px;
        height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        // background: rgba(255, 255, 255, 0.2);
        background: #fff;
        margin-left: 8px;
        transition: 0.3s;
        text-decoration: none;
        color: var(--primary-color);
        font-size: 14px;
        &:hover {
          background: rgba(255, 255, 255, 0.35);
          color: #fff;
        }
      }
    }
    small {
      font-size: 12px;
    }
  }

  small {
    // opacity: 0.8;
    color: #ffffff;
  }

  @media (max-width: 768px) {
    .row {
      text-align: center;
    }
    .social-wrap {
      align-items: center;
    }
    .social-icons {
      margin-top: 10px;
    }
  }
}
