.special-title {
  color: #303334;
  font-size: 60px;
  font-weight: 700;
  span {
    color: var(--primary-color);
  }
}

.title-desc-bold {
  color: #303334;
  font-size: 32px;
  font-weight: 700;
}

.title-desc {
  color: #6b6b6b;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
