section.services-section {
  background-color: #a3d4f540;
  .service-card {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    min-height: 230px;
    position: relative;
    img {
      min-width: 159.92px;
      min-height: 215.415px;
      max-height: 215.415px;
      max-width: 159.92px;
      border-radius: 12px;
      object-fit: cover;
    }
    .start-service {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80px;
      height: 60px;
      background-color: #a3d4f540;
      border-top-left-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      .start-btn {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;

        text-decoration: none;
        &:hover {
          background-color: var(--primary-color);
          color: white;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 0;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-bottom-right-radius: 20px;
        // box-shadow: 10px 10px 0 10px #f0f7ff;
        box-shadow: 10px 10px 0 10px #e8f4fc;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-bottom-right-radius: 20px;
        // box-shadow: 10px 10px 0 10px #f0f7ff;
        box-shadow: 10px 10px 0 10px #e8f4fc;
      }
    }
  }
}
