@forward "vendors";
@forward "about";
@forward "services";
@forward "clients";
@forward "partners";
@forward "howItWorks";
@forward "seamlessIntegration";
@forward "faq";
@forward "techExploration";
.hero {
  position: relative;
}

.nivoSlider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.nivoSlider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}