// $item-size: 90px;
// $item-img-size: 65px;
// $radius: 160px;
$item-size: 120px;
$item-img-size: 95px;
$radius: 220px;
$orbit-items: (
  item1: 0deg,
  item2: 45deg,
  item3: 90deg,
  item4: 135deg,
  item5: 180deg,
  item6: 225deg,
  item7: 270deg,
  item8: 315deg,
);
.orbit-wrapper {
  // width: 500px;
  // height: 410px;
  width: 650px;
  height: 550px;
  position: relative;
  margin: 0 auto;
  .orbit {
    // width: 320px;
    // height: 320px;
    width: 420px;
    height: 420px;
    border: 1px dashed #b7d9ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // animation: rotateOrbit 100s linear infinite;
  }
  .center-logo {
    // width: 120px;
    // height: 120px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    z-index: 2;
    animation: seamless-pulse 3s ease-in-out infinite;
    img {
      width: 110px;
    }
  }
  .item {
    width: $item-size;
    height: $item-size;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #b7d9ff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    top: 50%;
    left: 50%;
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    }
    img {
      width: $item-img-size;
      // object-fit: cover;
      object-fit: scale-down;
    }

    @each $name, $angle in $orbit-items {
      &.#{$name} {
        transform: translate(-50%, -50%)
          rotate($angle)
          translate($radius)
          rotate(calc(-1 * #{$angle}));
      }
    }
  }
}

/* ========================= */
/* KEYFRAMES */
/* ========================= */

@keyframes rotateOrbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes seamless-pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
